@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  @keyframes appear-from-below {
    0% {
      opacity: 0;
      transform: translateY(60px); /* Hoặc một giá trị dương khác */
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-appear-from-below {
    animation: appear-from-below 1s ease-out forwards; /* Thời gian và kiểu chuyển động */
  }
}
body {
  background-color: white;
}

.ant-pagination-prev .ant-pagination-item-link svg,
.ant-pagination-next .ant-pagination-item-link svg{
  color: white;
  border-color: white; 
  font-size: 20px;
  display: flex;
  align-items: center;
  
}

.ant-pagination-prev .ant-pagination-item-link ,
.ant-pagination-next .ant-pagination-item-link{
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.ant-pagination-prev .ant-pagination-item-link:hover,
.ant-pagination-next .ant-pagination-item-link:hover {
  color: #ffffff;
  border-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2); 
}
/* custom css pagination */
.custom-pagination-theme .ant-pagination-prev .ant-pagination-item-link svg,
.custom-pagination-theme .ant-pagination-next .ant-pagination-item-link svg{
  color: #070707;
  border-color: #070707;
}

.custom-pagination-theme .ant-pagination-prev .ant-pagination-item-link:hover,
.custom-pagination-theme .ant-pagination-next .ant-pagination-item-link:hover {
  color: #070707; 
  border-color: #070707;
  background-color: rgba(36, 59, 36, 0.2); 
}

@media (max-width: 1536px) {
  .list-blog {
    margin-left: 10rem /* 160px */;
    margin-right: 10rem /* 160px */;
  }
}

@media (max-width: 1024px) {
  .list-blog {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@media (max-width: 641px) {
  .list-blog {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.demo-content{
  border: none !important;
}


